/* see also */
#related-article p{
	font-size: 1.4rem
}

#related-article ul {
	list-style-type: decimal;
}
/* see also */

/* tip */
#QR {
	padding-top:20px;
}
#QR a {
	border:0
}
#QR img {
	width:180px;
	max-width:100%;
	display:inline-block;
	margin:.8em 2em 0 2em
}
#rewardButton {
	font-size: 14px;
	border:1px solid #ec7259;
	text-align:center;
	height:36px;
	display:block;
	border-radius:4px;
	-webkit-transition-duration:.4s;
	transition-duration:.4s;
	background-color:#ec7259;
	color:#fff;
	margin:0 auto;
	padding:0 25px;
	cursor: pointer;
	outline: none;
}
#rewardButton:hover {
	color:#fff;
	border-color:#fff; 
}
/* tip */

/* copyright */
#copyright-container .post-copyright {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5em 1em;
    border-left: 2px solid #ff1700;
    background-color: #f9f9f9;
    line-height:1.6;
}
#copyright-container .post-copyright strong {
    font-weight: 600;
}
#copyright-container .post-copyright li {
    list-style: none;
}
#copyright-container .post-copyright a {
    color: #2d96bd;
}
/* copyright */